/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include "../boards/nrf54h20dk_nrf54h20_cpurad_soc1.overlay"

&uart136 {
	tx-pin = < 0x04 >;
	rx-pin = < 0x05 >;
};
