/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	rng_sim: rng_sim {
		status = "okay";
		compatible = "zephyr,native-posix-rng";
		label = "ENTROPY_0";
	};

	chosen {
		zephyr,entropy = &rng_sim;
		zephyr,console = &uart137;
	};
};

&ram3x_cpusec {
	status = "okay";
};

&uart137 {
	status = "okay";
	tx-pin = <7>;
	rx-pin = <6>;
	memory-regions = <&ram3x_cpusec>;
};

&mram_controller {
	suit_storage: mram@1e1ff000 {
		compatible = "nordic,allocatable-mram", "soc-nv-flash";
		reg = <0x1e1ff000 DT_SIZE_K(4)>;
		erase-block-size = <128>;
		write-block-size = <1>;
		perm-read;
		perm-write;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			/* Use the last 8KB of NVM as suit storage. */
			suit_storage_partition: partition@0001ff000 {
				label = "suit_storage";
				reg = <0x0001ff000 DT_SIZE_K(4)>;
			};
		};
	};
};
