/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		zephyr,entropy = &cracen;
	};
};

&cracen {
	status = "okay";
};

&secdom_nvs {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Use the last 32 kB of SecDom NVM storage. */
		suit_storage: partition@1eb000 {
			label = "suit_storage";
			reg = <0x1eb000 DT_SIZE_K(32)>;
		};
	};
};
