/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
 */

 &flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Use the last 16KB (single page) of flash as suit storage. */
		suit_storage_partition: partition@0fc0000 {
			label = "suit_storage";
			reg = <0x000fc000 DT_SIZE_K(16)>;
		};

	};
};
