/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 / {
	chosen {
		/delete-property/ nordic,vevif-cpuppr;
		zephyr,console = &uart135;
	};

	easydma_buffers {
		ram3x_cpuppr: memory@2fc03700 {
			status = "okay";
			compatible = "zephyr,memory-region", "mmio-sram";
			zephyr,memory-region = "DMA_RAM3x_PPR";
			#memory-region-cells = < 0x0 >;
			reg = <0x2fc03700 0x80>;
		};
	};

	reserved-memory {
		ram3x_agg_area0: memory@2fc06a00 {
			reg = <0x2fc06a00 0x600>;
		};

		ram3x_shared_rx: memory@2fc07000 {
			reg = <0x2fc07000 0x0800>;
		};

		ram3x_shared_tx: memory@2fc07800 {
			reg = <0x2fc07800 0x0800>;
		};
	};

	ipc0: ipc0 {
		compatible = "zephyr,ipc-icmsg";
		tx-region = <&ram3x_shared_tx>;
		rx-region = <&ram3x_shared_rx>;
		mboxes = <&bellboard_cpuapp 12>,
			 <&mbox_local 12>;
		mbox-names = "tx", "rx";
		status = "okay";
	};

	sensor_stub: sensor_stub {
		compatible = "nordic,sensor-stub";
		label = "SENSOR_STUB";
		generator = "sensor_stub_gen";
		status = "okay";
	};

	agg0: agg0 {
		compatible = "caf,aggregator";
		sensor_descr = "accel_sim_xyz";
		buf_data_length = <240>;
		sensor_data_size = <24>;
		memory-region = <&ram3x_agg_area0>;
		status = "okay";
	};
};

&global_peripherals {
	/* Delete and redefine nodes with custom compatible. */
	/delete-node/ vevif@8c8000; // SYSCtrl
	/delete-node/ vevif@8d4000; // FLPR
	/delete-node/ vevif@908000; // PPR

	mbox_local: vevif@908000 {
		compatible = "nordic,mbox-nrf-ids";
		reg = <0x908000 0x1000>;
		interrupts = <0 NRF_DEFAULT_IRQ_PRIORITY>,
			     <1 NRF_DEFAULT_IRQ_PRIORITY>,
			     <2 NRF_DEFAULT_IRQ_PRIORITY>,
			     <3 NRF_DEFAULT_IRQ_PRIORITY>,
			     <4 NRF_DEFAULT_IRQ_PRIORITY>,
			     <5 NRF_DEFAULT_IRQ_PRIORITY>,
			     <6 NRF_DEFAULT_IRQ_PRIORITY>,
			     <7 NRF_DEFAULT_IRQ_PRIORITY>,
			     <8 NRF_DEFAULT_IRQ_PRIORITY>,
			     <9 NRF_DEFAULT_IRQ_PRIORITY>,
			     <10 NRF_DEFAULT_IRQ_PRIORITY>,
			     <11 NRF_DEFAULT_IRQ_PRIORITY>,
			     <12 NRF_DEFAULT_IRQ_PRIORITY>,
			     <13 NRF_DEFAULT_IRQ_PRIORITY>,
			     <14 NRF_DEFAULT_IRQ_PRIORITY>,
			     <15 NRF_DEFAULT_IRQ_PRIORITY>;
		interrupt-parent = <&clic>;
		instance = <0>;
		status = "okay";
		#mbox-cells = <1>;
	};
};

&uart135 {
	status = "okay";
	memory-regions = <&ram3x_cpuppr>;
	tx-pin = <7>;
	rx-pin = <6>;
};
