/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
 #include <zephyr/dt-bindings/mbox/nrf-ids.h>


 / {
	allocatable_ram {
		#address-cells = <1>;
		#size-cells = <1>;

		/* Allow to use defined RAM3x region by App and cores owned by
		 * App, including UART DMA buffer.
		 */
		ram3x_app: memory@2fc00000 {
			compatible = "nordic,allocatable-ram";
			reg = <0x2fc00000 DT_SIZE_K(32)>;
			perm-read;
			perm-write;
		};
	};

	rng_sim: rng_sim {
		status = "okay";
		compatible = "nordic,entropy-prng";
		label = "ENTROPY_0";
	};

	chosen {
		zephyr,entropy = &rng_sim;
		zephyr,uart-mcumgr = &uart136;
	};
};

/* ram3x_cpuapp buffer is used by App core UART driver. */
&ram3x_cpuapp {
	status = "okay";
};

/* Configure SMP UART. */
&uart136 {
	status = "okay";
	memory-regions = <&ram3x_cpuapp>;
};

/delete-node/ &mram1;

&mram_controller {
	mram1: mram@e136000 {
		compatible = "nordic,allocatable-mram", "soc-nv-flash";
		reg = < 0xe136000 DT_SIZE_K(680) >;
		erase-block-size = < 128 >;
		/* Hardcoded inside the soc_flash_nrf_mram.c (MRAM_WORD_SIZE) */
		write-block-size = < 0x10 >;

		perm-read;
		perm-write;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = < 0x1 >;
			#size-cells = < 0x1 >;

			/* The default application code partition ends at 0xe126000.
			 * If the application uses PPR, it extends the code partition to 0xe136000.
			 */
			dfu_partition: partition@136000 {
				label = "dfu_partition";
				reg = < 0x136000 DT_SIZE_K(656) >;
			};

			storage_partition: partition@1da000 {
				label = "storage";
				reg = < 0x1da000 DT_SIZE_K(24) >;
			};
		};
	};
};

&ipc_to_cpusec {
	status = "okay";
};

&mram0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = < 0x1 >;
		#size-cells = < 0x1 >;
		slot0_partition: partition@a6000 {
			label = "image-0";
			reg = <0xa6000 DT_SIZE_K(448)>;
		};
		companion_partition: partition@116000 {
			label = "companion-image";
			reg = <0x116000 DT_SIZE_K(64)>;
		};
	};
};
