#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config CAF_SENSOR_DATA_AGGREGATOR_EVENTS
	bool "Sensor data aggregator module events"
	help
	  Enable sensor data aggregator events.

config CAF_INIT_LOG_SENSOR_DATA_AGGREGATOR_EVENTS
	bool "Log sensor data aggregator events"
	depends on LOG
	depends on CAF_SENSOR_DATA_AGGREGATOR_EVENTS
	default y
	help
	  Log the sensor data aggregator events.
