#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SUIT
	bool "Enable SUIT modules"

if SUIT

config SUIT_PLATFORM_VARIANT_APP
	bool "Set platform variant to application domain"
	default y if SUIT_ENABLE_DEFAULTS_APP

choice SUIT_ENABLE_DEFAULTS
	prompt "Enable default SUIT modules"
	default SUIT_ENABLE_DEFAULTS_NONE if ZTEST
	default SUIT_ENABLE_DEFAULTS_SDFW if IS_SECURE_DOMAIN_FW
	default SUIT_ENABLE_DEFAULTS_APP if !IS_SECURE_DOMAIN_FW

config SUIT_ENABLE_DEFAULTS_SDFW
	bool "SDFW"
	imply SUIT_CRYPTO
	imply SUIT_DEVCONFIG
	imply SUIT_PLAT_CHECK_COMPONENT_COMPATIBILITY
	imply SUIT_PLAT_CHECK_CLASSES
	imply SUIT_AUTHENTICATE
	imply SUIT_DIGEST
	imply SUIT_DIGEST_CACHE
	imply SUIT_CHECK_IMAGE_MATCH
	imply SUIT_MCI
	imply SUIT_METADATA
	imply SUIT_ORCHESTRATOR
	imply SUIT_PLATFORM
	imply SUIT_STREAM
	imply SUIT_STREAM_SINK_MEMPTR
	imply SUIT_STREAM_SINK_FLASH
	imply SUIT_STREAM_SINK_DIGEST
	imply SUIT_STREAM_SOURCE_CACHE
	imply SUIT_STREAM_SOURCE_MEMPTR
	imply SUIT_STREAM_SOURCE_IPC
	imply SUIT_STREAM_IPC_REQUESTOR
	imply SUIT_MEMPTR_STORAGE
	imply SUIT_UTILS
	imply SUIT_CACHE
	imply SUIT_STORAGE
	imply SUIT_SINK_SELECTOR

config SUIT_ENABLE_DEFAULTS_APP
	bool "Application"
	imply SUIT_UTILS
	imply SUIT_METADATA
	imply SSF_SUIT_SERVICE_ENABLED

config SUIT_ENABLE_DEFAULTS_NONE
	bool "None"

endchoice # SUIT_ENABLE_DEFAULTS

rsource "cache/Kconfig"
rsource "mci/Kconfig"
rsource "metadata/Kconfig"
rsource "storage/Kconfig"
rsource "orchestrator/Kconfig"
rsource "memptr_storage/Kconfig"
rsource "platform/Kconfig"
rsource "stream/Kconfig"
rsource "utils/Kconfig"

# Configure SUIT_LOG_LEVEL
module = SUIT
module-str = Software Updates for Internet of Things
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # SUIT
