/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 #include <zephyr/dt-bindings/ipc_service/static_vrings.h>

 / {
    chosen {
        zephyr,console = &uart136;
        zephyr,sram = &cpuapp_sram;
        zephyr,shell-uart = &uart136;
    };
};

&uart136{
    tx-pin = < 68 >; // P2.04
    rx-pin = < 69 >; // P2.05
    status = "okay";
 };

&ram0x {
    cpuapp_sram: memory@1000 {
        compatible = "nordic,allocatable-ram", "mmio-sram";
        reg = <0x1000 DT_SIZE_K(512)>;
        ranges = <0x0 0x1000 DT_SIZE_K(512)>;
        #address-cells = <1>;
        #size-cells = <1>;
        perm-read;
        perm-write;
    };
};

&ipc_cpurad {
    zephyr,priority = <0 PRIO_COOP>;
};

ipc0: &ipc_cpurad { };
