/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 #include <zephyr/dt-bindings/ipc_service/static_vrings.h>

 / {
    chosen {
        zephyr,console = &uart136;
        zephyr,shell-uart = &uart136;
    };
};

&uart136{
    tx-pin = < 68 >; // P2.04
    rx-pin = < 69 >; // P2.05
    status = "okay";
 };

&ipc_cpurad {
    zephyr,priority = <0 PRIO_COOP>;
};

ipc0: &ipc_cpurad { };
