#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig AT_CUSTOM_CMD
	bool "Enable custom AT commands"

if AT_CUSTOM_CMD

config AT_CUSTOM_CMD_SYS_INIT
	bool "Initialize during SYS_INIT"
	default y

module=AT_CUSTOM_CMD
module-dep=LOG
module-str= AT custom command library
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # AT_CUSTOM_CMD
