/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
#include <arm/nordic_nrf_next/overlays/serial_cpuapp.overlay>

/ {
    chosen {
        zephyr,console = &uart136;
        zephyr,shell-uart = &uart136;
    };
};

/* With default 256KB RAM Wi-Fi connection will not work, so, increase to 512KB */
&cpuapp_ram0x_s {
    reg = < 0x0 0x80000 >;
    ranges = < 0x0 0x0 0x80000 >;
};

&cpuapp_sram0x {
    reg = <0x1000 DT_SIZE_K(512)>;
};

/delete-node/ &slot0_partition;
/delete-node/ &cpuapp_uicr_ext;

&mram0 {
    reg = <0xe0aa000 DT_SIZE_K(1000)>;
    partitions {
        compatible = "fixed-partitions";
        #address-cells = < 0x1 >;
        #size-cells = < 0x1 >;
        slot0_partition: partition@aa000 {
            label = "image-0";
            reg = < 0xaa000 DT_SIZE_K(998) >;
        };
    };
    cpuapp_uicr_ext: uicr@e1a3800 {
        compatible = "nordic,nrf-uicr";
        reg = <0xe1a3800 DT_SIZE_K(2)>;
    };
};
