#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SUIT_COMPONENT_RAMBUF
	bool "Include RAM buffer as NVM suit component implementation"
	depends on !SUIT_COMPONENT_MRAM

config SUIT_COMPONENT_MRAM
	bool "Include MRAM/Flash suit component implementation"
	depends on FLASH

config SUIT_MAX_ENVELOPE_REF_COMPONENTS
	int "The maximum number of envelope reference components that will be handled"
	range 1 255
	help
	  Index is of type uint8_t, which restricts number of components of this type to 255.
	  Default value is 8 and minimal 1.
	default 8

config SUIT_MAX_MRAM_COMPONENTS
	int "The maximum number of flash (MRAM) components that will be handled"
	range 1 255
	help
	  Index is of type uint8_t, which restricts number of components of this type to 255.
	  Default value is 8 and minimal 1.
	default 8
	depends on SUIT_COMPONENT_MRAM

config SUIT_CRYPTO
	bool "Enable crypto backend, suitable for SUIT components"
	imply MBEDTLS if !SOC_FAMILY_NRF
	imply NRF_SECURITY if SOC_FAMILY_NRF
	imply MBEDTLS_ENABLE_HEAP if SOC_FAMILY_NRF
	select PSA_WANT_ALG_SHA_256 if SOC_FAMILY_NRF
	select PSA_WANT_ALG_ECDSA if SOC_FAMILY_NRF
	select PSA_WANT_ECC_SECP_R1_256 if SOC_FAMILY_NRF
