/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		sdfw,tdd-spu = &spu200;
		sdfw,grtc-spu = &spu133;

		sdfw,gpio-spu = &spu131;
		zephyr,console = &uart137;
	};
};

&ram3x_cpusec {
	status = "okay";
};

&uart137 {
	status = "okay";
	memory-regions = <&ram3x_cpusec>;
};

&spu131 {
	status = "okay";
};

&spu133 {
	status = "okay";
};

&spu137 {
	status = "okay";
};

&spu200 {
	status = "okay";
};
