/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
#include <zephyr/dt-bindings/ipc_service/static_vrings.h>
#include <arm/nordic_nrf_next/overlays/serial_cpuapp.overlay>

/{
	chosen {
		zephyr,console = &uart136;
		zephyr,shell-uart = &uart136;
	};
};

/delete-node/ &ppr_code_partition;

&mram0 {
    reg = <0xe0a6000 DT_SIZE_K(1092)>;
    partitions {
        compatible = "fixed-partitions";
        #address-cells = < 0x1 >;
        #size-cells = < 0x1 >;
        slot0_partition: partition@a6000 {
            label = "image-0";
            reg = < 0xa6000 DT_SIZE_K(1092) >;
        };
    };
};

&cpuapp_ram0x_s {
	reg = < 0x0 DT_SIZE_K(512) >;
	ranges = < 0x0 0x0 DT_SIZE_K(512) >;
};

/* Remove the dfu_partition */
/delete-node/ &mram1;
&mram_controller {
	mram1: mram@e1df000 {
		compatible = "nordic,allocatable-mram", "soc-nv-flash";
		reg = <0xe1df000 DT_SIZE_K(24)>;
		erase-block-size = <4096>;
		write-block-size = <1>;
		perm-read;
		perm-write;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			storage_partition: partition@1df000 {
				label = "storage";
				reg = <0x1df000 DT_SIZE_K(24)>;
			};
		};
	};
};

/* ram3x_cpuapp buffer is used by App core UART driver. */
&ram3x_cpuapp {
	status = "okay";
};

&cpuapp_sram0x {
	reg = <0x1000 DT_SIZE_K(512)>;
};

&uart136 {
	status = "okay";
	memory-regions = <&ram3x_cpuapp>;
};

&pinctrl {
	spi130_default: spi130_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 1)>,
			        <NRF_PSEL(SPIM_MISO, 1, 6)>,
			        <NRF_PSEL(SPIM_MOSI, 1, 7)>;
		};
	};

	spi130_sleep: spi130_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 1)>,
			        <NRF_PSEL(SPIM_MISO, 1, 6)>,
			        <NRF_PSEL(SPIM_MOSI, 1, 7)>;
			low-power-enable;
		};
	};
};

&spi130 {
	cs-gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
	status = "okay";
	pinctrl-0 = <&spi130_default>;
	pinctrl-1 = <&spi130_sleep>;
	pinctrl-names = "default", "sleep";
	memory-regions = <&ram3x_cpuapp>;

	enc424j600_link_board_eth: enc424j600@0 {
		compatible = "microchip,enc424j600";
		spi-max-frequency = < 0xd59f80 >;
		int-gpios = < &gpio1 0x2 0x1 >;
		status = "okay";
		reg = < 0x0 >;
	};
};

&gpio1 {
	status = "okay";
};

ipc0: &ipc_cpurad {};
