aenum
bitarray
csnake==0.3.5
chardet
devicetree==0.0.2
gitlint==0.18.0
gitpython==3.1.41
jsonschema
lazy-object-proxy==1.4.3
milksnake
more-itertools==10.1.0
naturalsort==1.5.1
py
pyparsing
python-stdnum
pytz
pyusb
qrcode
stringcase==1.2.0
svada==2.0.2
typed-ast
toml
wget
