#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NRF_TBR_ROUTE_IPV4
    bool "Route IPv4 packets"
    depends on OPENTHREAD_NAT64_BORDER_ROUTING
    imply NET_PKT_FILTER
    imply NET_PKT_FILTER_IPV4_HOOK
    help
      Enable IPv4 packets routing between interfaces.

if NRF_TBR_ROUTE_IPV4
config NRF_TBR_ROUTE_IPV4_INIT_PRIORITY
    int
    default 90
    help
      Initialization priority.

module = NRF_TBR_ROUTEV4
module-dep = LOG
module-str = IPv4 packets routing
source "subsys/logging/Kconfig.template.log_config"
endif # NRF_TBR_ROUTE_IPV4

config NRF_TBR_NAT
    bool "Enable NAT"
    depends on NRF_TBR_ROUTE_IPV4
    help
      Enable Network Address Translator (NAT).

if NRF_TBR_NAT
config NRF_TBR_NAT_INIT_PRIORITY
    int
    default 89
    help
      Initialization priority must be higher (lower value) than
      for NRF_TBR_ROUTE_IPV4_INIT_PRIORITY.

config NRF_TBR_NAT_RECORDS_COUNT
    int "Number of NAT records in the pool"
    default 25
    help
      Number of total NAT records available for TCP, UDP and ICMP protocols.

config NAT_ICMP_QUERY_SESSION_TIMEOUT_SEC
    int "NAT mapping timout for ICMP query"
    range 60 240
    default 60
    help
      The mapping timeout is the amount of time where NAT mapping will
      stay active without packets traversing the NAT.

config NAT_UDP_SESSION_TIMEOUT_SEC
    int "NAT mapping timout for UDP"
    range 120 65535
    default 300
    depends on NET_UDP
    help
      The mapping timeout is the amount of time where NAT mapping will
      stay active without packets traversing the NAT.

config NAT_TCP_SESSION_TIMEOUT_SEC
    int "NAT mapping timout for TCP"
    range 7440 65535
    default 7440
    depends on NET_TCP
    help
      The mapping timeout is the amount of time where NAT mapping will
      stay active without packets traversing the NAT.

module = NRF_TBR_NAT
module-dep = LOG
module-str = NAT
source "subsys/logging/Kconfig.template.log_config"
endif # NRF_TBR_NAT

config NRF_TBR_MDNS_SERVER_NUM_LISTENERS
    int "Maximum number of mDNS listeners"
    default 1
    help
      Defines a number of listeners that can be started for mDNS
      server. There can be only one listener per network interface.

config NRF_TBR_MDNS_SERVER_NUM_RECORDS
    int "Maximum number of mDNS records"
    default 24
    help
      Defines a number of mDNS records that can be allocated.

config NRF_TBR_MDNS_SERVER_DATA_BUFFER_COUNT
    int "Number of buffers available for mDNS records"
    default 64
    help
      Defines a number of data buffers to be used for storage of mDNS
      records' names and data - hostnames, addresses etc.

config NRF_TBR_MDNS_SERVER_DATA_BUFFER_SIZE
    int "Size of a single data buffer for mDNS records"
    default 16
    help
      Defines a size of a single data buffer used during allocation of
      mDNS records. The buffer size should be chosen to match needs
      of the application.

module = NRF_TBR_MDNS_SERVER
module-dep = LOG
module-str = mDNS server
source "subsys/logging/Kconfig.template.log_config"
