/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		/delete-property/ nordic,vevif-cpuppr;
		zephyr,console = &uart136;
	};

	allocatable_ram {
		#address-cells = <1>;
		#size-cells = <1>;

		/* Configure PPR code region.
		 * This is done to ensure correct UICR generation.
		 */
		ppr_code: memory@1e09a000 {
			compatible = "nordic,allocatable-ram";
			reg = <0x1e09a000 DT_SIZE_K(64)>;
			perm-read;
			perm-execute;
		};

		/* Configure RAM3x region.
		 * This is done to ensure correct UICR generation.
		 */
		ram3x_app_ppr: memory@2fc00000 {
			compatible = "nordic,allocatable-ram";
			reg = <0x2fc00000 DT_SIZE_K(32)>;
			perm-read;
			perm-write;
		};
	};

	reserved-memory {
		ram31_shared_tx: memory@2fc07000 {
			reg = <0x2fc07000 0x0800>;
		};

		ram31_shared_rx: memory@2fc07800 {
			reg = <0x2fc07800 0x0800>;
		};
	};

	ipc0: ipc0 {
		compatible = "zephyr,ipc-icmsg";
		tx-region = <&ram31_shared_tx>;
		rx-region = <&ram31_shared_rx>;
		mboxes = <&mbox_remote 12>,
			 <&bellboard_cpuapp 12>;
		mbox-names = "tx", "rx";
		status = "okay";
	};

	sensor_stub: sensor_stub {
		compatible = "nordic,sensor-stub";
		label = "SENSOR_STUB";
		generator = "sensor_stub_gen";
		status = "okay";
	};

	agg0: agg0 {
		compatible = "caf,aggregator";
		sensor_descr = "accel_sim_xyz";
		buf_data_length = <240>;
		sensor_data_size = <24>;
		status = "okay";
	};
};

&global_peripherals {
	/* Delete and redefine nodes with custom compatible. */
	/delete-node/ vevif@8c8000; // SYSCtrl
	/delete-node/ vevif@8d4000; // FLPR
	/delete-node/ vevif@908000; // PPR

	mbox_remote: vevif@908000 {
		compatible = "nordic,mbox-nrf-ids";
		status = "okay";
		reg = <0x908000 0x1000>;
		domain = <NRF_IDS_DOMAIN_PPR>; /* Remote vevif belong to CPU PPR */
		#mbox-cells = <1>;
	};
};

&ram3x_cpuapp {
	status = "okay";
};

&uart136 {
	status = "okay";
	tx-pin = < 0x5 >;
	rx-pin = < 0x4 >;
	memory-regions = <&ram3x_cpuapp>;
};

&uart135 {
	status = "okay";
	tx-pin = <7>;
	rx-pin = <6>;
};

&grtc {
	status = "okay";
	/* Channel 6 and 7 are owned by App and used by PPR.
	 * This is done to ensure correct UICR generation.
	 */
	owned-channels = <4 5 6 7>;
	child-owned-channels = <6 7>;
};

&clic_cpuppr {
	status = "okay";
};

&systick {
	status = "disabled";
};
