/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
 */

 &flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Use the last 8KB of NVM as suit storage. */
		suit_storage_partition: partition@000fe000 {
			label = "suit_storage";
			reg = <0x000fe000 DT_SIZE_K(8)>;
		};

		/* Use the second half of NVM as DFU partition. */
		dfu_partition: partition@00080000 {
			label = "dfu_partition";
			reg = <0x00080000 DT_SIZE_K(504)>;
		};
	};
};
