#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NEWLIB_LIBC_NANO
    default n

config NET_L2_OPENTHREAD
    default y

config IEEE802154_NRF5_RX_STACK_SIZE
    default 1024

config NET_L2_ETHERNET
    default y

config OPENTHREAD_BORDER_ROUTER
    default y

config DNS_RESOLVER
    default n

config INIT_STACKS
    default y

config MAIN_STACK_SIZE
    default 4096

config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2560

config DEVICE_SHELL
    default n

config DATE_SHELL
    default n

config GPIO_SHELL
    default n

config OPENTHREAD_BORDER_ROUTING
    default y

config OPENTHREAD_BACKBONE_ROUTER_MULTICAST_ROUTING
    default y

config OPENTHREAD_NETDATA_PUBLISHER
    default y

config OPENTHREAD_BORDER_AGENT
    default y

config OPENTHREAD_SLAAC
    default y

config OPENTHREAD_BACKBONE_ROUTER
    default y

config OPENTHREAD_ENABLE_SERVICE
    default y

config OPENTHREAD_BORDER_ROUTING_COUNTERS
    default y

config OPENTHREAD_DNS_CLIENT
    default y

config OPENTHREAD_MLR
    default y

config OPENTHREAD_PLATFORM_UDP
    default y

config OPENTHREAD_MESSAGE_BUFFER_SIZE
    default 256

config OPENTHREAD_DUA
    default y

config OPENTHREAD_BACKBONE_ROUTER_DUA_NDPROXYING
    default y

config OPENTHREAD_NAT64_TRANSLATOR
    default y

config OPENTHREAD_NAT64_BORDER_ROUTING
    default y

config OPENTHREAD_TCP_ENABLE
    default y

config OPENTHREAD_COAP
    default y

config OPENTHREAD_COAPS
    default y

config OPENTHREAD_COMMISSIONER
    default y

config OPENTHREAD_DIAG
    default y

config OPENTHREAD_DHCP6_SERVER
    default y

config OPENTHREAD_DHCP6_CLIENT
    default y

config OPENTHREAD_ECDSA
    default y

config OPENTHREAD_IP6_FRAGM
    default y

config OPENTHREAD_JAM_DETECTION
    default y

config OPENTHREAD_JOINER
    default y

config OPENTHREAD_RAW
    default y

config OPENTHREAD_MAC_FILTER
    default y

config OPENTHREAD_NETDIAG_CLIENT
    default y

config OPENTHREAD_ENABLE_SERVICE
    default y

config OPENTHREAD_SNTP_CLIENT
    default y

config OPENTHREAD_SRP_CLIENT
    default y

config OPENTHREAD_LINK_METRICS_INITIATOR
    default y

config OPENTHREAD_LINK_METRICS_SUBJECT
    default y

config OPENTHREAD_EXTERNAL_HEAP
    default y

config NRF_TBR_NAT64_PREFIX_DISCOVERY
    default y

config NRF_TBR_ROUTE_IPV4
    default y

config NRF_TBR_NAT
    default y

config NET_IPV4_IGMP
    default n

config NRF7002_ON_SPI
    def_bool $(dt_compat_enabled,$(DT_COMPAT_NORDIC_NRF700X_SPI))
    depends on WIFI_NRF700X

config NRF_WIFI_LOW_POWER
    default n
