#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NET_L2_OPENTHREAD
    default y

config IEEE802154_NRF5_RX_STACK_SIZE
    default 1024

config NET_L2_ETHERNET
    default y

config OPENTHREAD_BORDER_ROUTER
    default y

config DNS_RESOLVER
    default n

config INIT_STACKS
    default y

config MAIN_STACK_SIZE
    default 4096

config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2560

config DEVICE_SHELL
    default n

config DATE_SHELL
    default n

config GPIO_SHELL
    default n

config OPENTHREAD_BORDER_ROUTING
    default y

config OPENTHREAD_BACKBONE_ROUTER_MULTICAST_ROUTING
    default y

config OPENTHREAD_NETDATA_PUBLISHER
    default y

config OPENTHREAD_BORDER_AGENT
    default y

config OPENTHREAD_SLAAC
    default y

config OPENTHREAD_BACKBONE_ROUTER
    default y

config OPENTHREAD_ENABLE_SERVICE
    default y

config OPENTHREAD_BORDER_ROUTING_COUNTERS
    default y

config OPENTHREAD_DNS_CLIENT
    default y

config OPENTHREAD_MLR
    default y

config OPENTHREAD_MESSAGE_BUFFER_SIZE
    default 256
