#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

DT_COMPAT_NORDIC_NRF700X_SPI := nordic,nrf700x-spi

menuconfig NRF_TBR
    bool "nRF Thread Border Router"
    imply NEWLIB_LIBC_NANO
    imply ENTROPY_GENERATOR
    imply NETWORKING
    imply NET_IPV6
    imply NET_IPV4
    imply NET_UDP
    imply NET_TCP
    imply NET_IPV6_NBR_CACHE
    imply NET_IPV6_DAD
    imply NET_ROUTING
    imply NET_DHCPV4
    imply NET_DHCPV6
    imply NET_SOCKETS
    imply NET_IPV6_MLD
    imply NET_IPV6_ND
    imply NET_IPV6_NBR_CACHE
    imply DNS_SD
    imply NET_IPV4_IGMP
    imply NET_PKT_FILTER # This should be removed after next upmerge
    imply NET_PKT_FILTER_IPV6_HOOK # This should be removed after next upmerge

menu "nRF Thread Border Router"

if NRF_TBR

config NRF_TBR_MDNS_PUBLISHER_RECORDS
    int "mDNS records"
    default 8
    help
      Number of mDNS records that can be allocated in runtime

config NRF_TBR_NRF_TBR_MDNS_PUBLISHER_MAX_TXT_LEN
    int "Max TXT record length"
    default 256
    help
      Maximum length of TXT record

config NRF_TBR_PRODUCT_NAME
    string "Product"
    default "tbr"
    help
      Defines the name of a product advertised by Thread Border Agent

config NRF_TBR_VENDOR_NAME
    string "Vendor"
    default "nordicsemi"
    help
      Defines the name of a vendor advertised by Thread Border Agent

config NRF_TBR_NAT64_PREFIX_DISCOVERY
    bool "Enable NAT64 prefix discovery"
    depends on OPENTHREAD_BORDER_ROUTER && OPENTHREAD_NAT64_BORDER_ROUTING
    help
      Enable NAT64 prefix discovery for nRF TBR

config NRF_TBR_MAX_UDP_DGRAM_SIZE
    int "UDP datagrams size limit"
    default 1280
    help
      Maximum size of UDP datagrams that can be sent using OpenThread's API

config NRF_TBR_ND_PROXY_ENTRY_COUNT
    int "ND Proxy table entries"
    default 8
    help
      Maximum number of addresses that can be handled by ND Proxy module

source "${ZEPHYR_BASE}/../nrf/applications/thread_border_router/Kconfig.defaults"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = NRF_TBR
module-str = nRF TBR
module-dep = LOG
module-help = Enables nRF TBR log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

rsource "src/net/Kconfig"

endif #NRF_TBR

endmenu
