#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "nRF Thread Border Router"

module = NRF_TBR
module-str = Log level for nRF TBR
module-dep=LOG
module-help=Enables nRF TBR log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config NRF_TBR_MDNS_PUBLISHER_RECORDS
    int "mDNS records"
    default 8
    help
      Number of mDNS records that can be allocated in runtime

config NRF_TBR_NRF_TBR_MDNS_PUBLISHER_MAX_TXT_LEN
    int "Max TXT record length"
    default 256
    help
      Maximum length of TXT record

config NRF_TBR_PRODUCT_NAME
    string "Product"
    default "tbr"
    help
      Defines the name of a product advertised by Thread Border Agent

config NRF_TBR_VENDOR_NAME
    string "Vendor"
    default "nordicsemi"
    help
      Defines the name of a vendor advertised by Thread Border Agent

config NRF_TBR_NAT64_PREFIX_DISCOVERY
	bool "Enable NAT64 prefix discovery"
	depends on OPENTHREAD_BORDER_ROUTER && OPENTHREAD_NAT64_BORDER_ROUTING
  help
      Enable NAT64 prefix discovery for nRF TBR

config NRF_TBR_MAX_UDP_DGRAM_SIZE
  int "UDP datagrams size limit"
  default 1280
  help
    Maximum size of UDP datagrams that can be sent using OpenThread's API

endmenu
