/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "shared/nrf54_ipc_shm_ram0.dtsi"
#include "shared/nrf54_uart_pinout.dtsi"

/{
	chosen {
		zephyr,console = &uart136;
	};

	allocatable_ram {
		#address-cells = <1>;
		#size-cells = <1>;

		ram3x_app_mem: memory@2fc00000 {
			compatible = "nordic,allocatable-ram";
			reg = <0x2fc00000 DT_SIZE_K(32)>;
			perm-read;
			perm-write;
		};
	};
};

&ipc_cpurad {
	compatible = "zephyr,ipc-icmsg";
	tx-region = <&ipc_shm_remote>;
	rx-region = <&ipc_shm_local>;
	status = "okay";
	/delete-property/ memory-region;
	/delete-property/ role;
};

ipc0: &ipc_cpurad { };

/* ram3x_cpuapp buffer is used by App core UART driver. */
&ram3x_cpuapp {
	status = "okay";
};

&uart136 {
	status = "okay";
	memory-regions = <&ram3x_cpuapp>;
};
